.box {
  height : 500px;
  background-color: thistle;
}
.daylight {
  background-color: skyblue;
}
.country {
  background-color: green;
  height: 60px;
}
.updateCounter {
  background-color: hotpink;
}
.updateCredit {
  background-color: lawngreen;
}
.decrease {
  background-color: mediumaquamarine;
}